<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
   <div class="container">
      <div class="navbar-header page-scroll">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
         <i class="fa fa-bars"></i>
         </button>
         <a class="navbar-brand" target="_blank" href= "<%= root_path %>">
            <h1>JEREED</h1>
         </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
         <ul class="nav navbar-nav">
            <li><a href="#intro">Start </a></li>
            <li><a href="#info">Info</a></li>
            <li><a href="#contact">Contact</a></li>
         </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</nav>

<div class="jumbotron">
   <div class="container">
<section id="intro" class="intro">  
   <div class="slogan">
      <h2>JEREED</h2>
      <h4>Enter Jereed's slogan Here</h4>
   </div>
   <br><br>
   <div class="page-scroll" style ="margin-bottom: 2%">
      <a href="#info" class="btn btn-circle" style="color: green; border-color:green;">
      <i class="fa fa-angle-double-down animated" ></i>
      </a>
   </div> 
</section>
   </div>
   </div>

<section id="info" class="home-section text-center">
   
</section>


         <div class="footer">
   <!-- Bootstrap core JavaScript
      ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>