<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
   <div class="container">
      <div class="navbar-header page-scroll">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
         <i class="fa fa-bars"></i>
         </button>
         <a class="navbar-brand" target="_blank" href= "<%= root_path %>">
            <h1>JEREED</h1>
         </a>

         <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
         <ul class="nav navbar-nav">
             <li><a href="/categories">Categories</a></li>
         </ul>

      
      </div>

        
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
         <ul class="nav navbar-nav">
            <li><a href="#intro">Start </a></li>
            <li><a href="#info">Info</a></li>
            <li><a href="#contact">Contact</a></li>
         </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</nav>

<div class="jumbotron">
   <div class="container">
<section id="intro" class="intro">  
   <div class="slogan">
      <h2>JEREED</h2>
      <h4>Enter Jereed's slogan Here</h4>
   </div>
   <br><br>
   <div class="page-scroll" style ="margin-bottom: 2%">
      <a href="#info" class="btn btn-circle" style="color: green; border-color:green;">
      <i class="fa fa-angle-double-down animated" ></i>
      </a>
   </div> 
</section>
   </div>
   </div>

<section id="info" class="home-section text-center">

   <iframe width="640" height="480" src="https://sketchfab.com/models/73ef6ade25bc4844bd8016d72f74354d/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
   
</section>

<section id="reach_us"class="home-section" style="text-align: justify; text-justify: auto;">
   <div class="container">
      <div class="row">
         <div class="col-sm-4 col-md-4">
     
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.692627689276!2d31.3265693!3d30.04567489999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583ef3f59015ef%3A0xf987682c3e9447b5!2sEl+Fadl+Ebn+Rabie+Rd%2C+Al+Hay+as+Sabea%2C+Nasr+City%2C+Cairo+Governorate!5e0!3m2!1sen!2seg!4v1443960244329"  height="300"frameborder="0" style="border:0" allowfullscreen></iframe>
            
         </div>

         <div class="col-sm-4 col-md-4">            
            <p style="text-align:left;" >
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>   Postal Code: 11471<br>
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span> +20222614981<br> 
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> +201009103131<br>
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> +201012480060<br>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 9 El-Fadl Ebn Rabie street, Seventh District, Nasr City, Cairo, Egypt.<br>
            &nbsp; <i class="fa fa-facebook"></i><a href="https://www.facebook.com/Jereedcompany?fref=ts"> &nbsp;Jereed<a></p>
           
         </div>

         <div class="col-sm-4 col-md-4">            
           
         </div>
      </div>
   </div>

</section>


         <div class="footer">
   <!-- Bootstrap core JavaScript
      ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>